@font-face {
  font-family: 'Myriad-Apple-Text';
    src:  url('../../app/fonts/webfonts_Myriad-Apple-Text/Myriad-Apple-Text.ttf.woff') format('woff'),
    url('../../app/fonts/webfonts_Myriad-Apple-Text/Myriad-Apple-Text.ttf.svg#Myriad-Apple-Text') format('svg'),
    url('../../app/fonts/webfonts_Myriad-Apple-Text/Myriad-Apple-Text.ttf.eot'),
    url('../../app/fonts/webfonts_Myriad-Apple-Text/Myriad-Apple-Text.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
